.container{
    max-width: 600px;
    width: 50%;
    margin: 50px auto;
    text-align: center;

}

.outputData{
    width: 90%;
    border: 2px black solid;
    height: min-content;
    min-height: 30vh;
    border-radius: 10px;
    margin: auto;
}